doctype html
html(lang='ru')
  include ../_components/mixins
  include ../templates/head
  

  body(itemscope="itemscope" itemtype="http://schema.org/WebPage")
    include ../_components/header
    include ../_components/header-mob
    include ../_components/menu-mob
    .wrapper
      block content
      include ../_components/footer
        
      
      
      
      
      
      
      
      
      
    include ../templates/scripts.pug
      
