doctype html
html(lang='ru')
  include ../_components/mixins
  include ../templates/head
  

  body(itemscope="itemscope" itemtype="http://schema.org/WebPage")
    .header-fade
    .wrapper
      block content
        
      
      
      
      
      
      
      
      
      
    include ../templates/scripts.pug
      
