extends ../templates/template-index


block content
  .container.py-50
    .row.page-list.mt-4
      .col-md-7.mx-auto
        h2.mb-4.pb-10.border-bottom Список страниц
        ul.pl-0.mb-4
          li.mb-2
            a(href="main.html", style="") Главная
          li.mb-2
            a(href="offer.html", style="") Публичная оферта
          li.mb-2
            a(href="politics.html", style="") Политика обработки персональных данных

