extends ../templates/template
block content
  main
    .footer-fixed.anim-block
      a(href="javascript:void(0);").develop-link Сделано в 
        span Yakovlev.Studio
    a(href="javascript:void(0);").footer-download__block.anim-block
        img(src='../img/doc-icon.svg' alt='', title='').doc-icon
        .footer-download--text Публичная <br />оферта

    section.section.section-download#download
      .container-fluid
        .row.flex-column-reverse.align-items-lg-center.flex-lg-row
          .col-lg-5.offset-lg-1
            .title Хмельная миля теперь
              .span-br в мобильном приложении!
            .desc
              | Мы варим наше пиво по лучшим европейским рецептам из натуральных ингредиентов. Это доказывают многочисленные победы и награды в престижных Всероссийских конкурсах. Теперь нашу продукцию можно оформить в виде предзаказа в мобильном приложении «Хмельная Миля»
            +download-block
          .col-lg-6
            .img-wrap
              img(src='../img/img-content-1.png' alt='', title='').img-content-1
    section.section.section-shops#shops
      .container-fluid
        .row.align-items-lg-center
          .col-lg-6
            .img-wrap
              img(src='../img/img-content-2.png' alt='', title='').img-content-2

          .col-lg-5
            .title Выбор магазина рядом с Вами
            .desc
              | Мы автоматически выбираем ближайший к Вам магазин, в котором вы можете оформить бронь не выходя из дома. Все, что останется, прийти в удобное для вас время и без очереди забрать свой предзаказ!
            +download-block
    section.section.section-catalog#catalog
      .container-fluid
        .row.flex-column-reverse.align-items-lg-center.flex-lg-row
          .col-lg-5.offset-lg-1
            .title Заказывайте любимые сорта
              .span-br без очереди!
            .desc
              p. 
                Торговая сеть «Хмельная Миля» ПК «Канцлеръ» — это более 40 сортов живого пива, в т.ч. эксклюзивная серия крафтовых сортов, специализированная линейка пива для стеклянной банки, а также безалкогольные и пивные напитки.
              p. 
                Мы стремится быть лучшими в своей отрасли и прикладываем максимум усилий для выполнения миссии компании – развивать в стране культуру умеренного потребления качественных напитков, доступные в нашем мобильном приложении.
            +download-block

          .col-lg-6
            .img-wrap
              img(src='../img/img-content-3.png' alt='', title='').img-content-3
    section.section.section-card#card
      .container-fluid
        .row.align-items-lg-center
          .col-lg-7.col-xl-6
            .img-wrap
              img(src='../img/img-content-4.png' alt='', title='').img-content-4

          .col-lg-5
            .title Клубная карта друга!
            .desc
              | Используйте Клубную карту друга для накопления бонусов и оплаты ими товаров! При оформлении предзаказа через мобильное приложение карта будет применена автоматически. При покупке товаров в магазине, просто покажите штрих-код на кассе!
            +download-block
    section.section.section-pay#pay
      .container-fluid
        .row.flex-column-reverse.align-items-lg-center.flex-lg-row
          .col-lg-5.offset-lg-1
            .title Онлайн-оплата в приложении
            .desc
              | Вы можете заранее оплатить свой предзаказ через наше приложение! Ввиду законодательных ограничений, чек за сам товар будет выдан Вам только на торговой точке, либо курьером, при доставке предзаказа Вам домой. При оплате через приложение Вы получите чек за услуги информационного характера.
            +download-block

          .col-lg-6
            .img-wrap
              img(src='../img/img-content-5.png' alt='', title='').img-content-5
    section.section.section-delivery#delivery
      .container-fluid
        .row.align-items-lg-center
          .col-lg-6
            .img-wrap
              img(src='../img/img-content-6.png' alt='', title='').img-content-6

          .col-lg-5
            .title Оформляйте доставку предзаказ на удобную дату и время!
            .desc
              | Мы готовы доставлять оформленный предзаказ прямо до Вашего порога. Воспользуйтесь такой уникальной возможностью.
            .subdesc
              | Предзаказ выдает курьер, только при предъявлении паспорта для установления Вашего возраста.
            +download-block
    section.section.section-preorder#preorders
      .container-fluid
        .row.flex-column-reverse.align-items-lg-center.flex-lg-row
          .col-lg-5.offset-lg-1
            .title Отслеживайте статус 
              .span-br Вашего предзаказа
            .desc
              | Вы всегда будете в курсе, в каком статусе находится Ваш предзаказ. Приходите в магазин в удобное для Вас время, чтобы избежать очередей и ожидания налива!
            +download-block
          .col-lg-6
            .img-wrap
              img(src='../img/img-content-7.png' alt='', title='').img-content-7
    section.section.section-bonus#bonus
      .bg-section
      .img-wrap.img-wrap-mob.mob
        img(src='../img/img-content-mob-8.png' alt='', title='').img-content-8

      .container-fluid
        .row.align-items-lg-center
          .col-lg-6
            .img-wrap.desktop
              img(src='../img/img-content-8.png' alt='', title='').img-content-8
          .col-lg-5
            .title Бонусы за первую регистрацию!
            .desc
              | За первую регистрацию мы дарим 100 баллов на клубную карту! Если у Вас еще нет нашей Клубной карты друга, вы сможете создать ее через приложение и начать копить бонусные баллы.
            +download-block
    
    
    



              
              
                
              
                
                
        
    
    
    
        
