extends ../templates/template-offer
block content
  main
    +footer-fixed
    
    section.section-offer
      .container-fluid
        .row
          .col-lg-6.offset-lg-3
            .offer-title Публичная оферта
              a(href="index.html").offer-title--img
            .accord-wrap
              .offer-text--title.accord-title I. Политика обработки персональных данных
              .accord-block
                p.
                  Настоящая Политика общества с ограниченной ответственностью «Пивоваренный завод «Канцлеръ» (далее - Компания) в отношении обработки персональных данных (далее - Политика) разработана во исполнение требований Федерального закона N 152-ФЗ
                  "О персональных данных" (далее - Закон о персональных данных) в целях обеспечения защиты прав и свобод человека и гражданина при обработке его персональных данных.
                p.
                  Политика действует в отношении всех персональных данных, которые обрабатывает Компания.
                p.
                  Политика распространяется на отношения в области обработки персональных данных, возникшие у Компании как до, так и после утверждения настоящей Политики.
                p.
                  Во исполнение требований Закона о персональных данных настоящая Политика публикуется в свободном доступе в информационно-телекоммуникационной сети Интернет, на сайте Компании.
            .accord-wrap
              .offer-text--title.accord-title 1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
              .accord-block
                p.
                  1.1. В настоящей Политике конфиденциальности используются следующие термины: 
                p.
                  1.1.1. «Администрация сайта» — уполномоченные на управление Сайтом сотрудники, действующие от имени Компании, которые организуют и (или) осуществляют обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными. 
                p.
                  1.1.2. «Персональные данные» — любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).
                p.
                  1.1.3. «Обработка персональных данных» — любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
                p.
                  1.1.4. «Конфиденциальность персональных данных» — обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.
                p.
                  1.1.5. «Пользователь сайта (далее — Пользователь)» — лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт.
            .accord-wrap
              .offer-text--title.accord-title 2. ОБЩИЕ ПОЛОЖЕНИЯ
              .accord-block
                p.
                  2.1. Использование Пользователем сайта означает согласие с настоящей Политикой и условиями обработки персональных данных Пользователя.
                p.
                  2.2. В случае несогласия с условиями Политики Пользователь должен прекратить использование Сайта.
                p.
                  2.3. Компания не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на Сайте.
                p.
                  2.4. Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем сайта.
            .accord-wrap
              .offer-text--title.accord-title 3. ПРЕДМЕТ ПОЛИТИКИ
              .accord-block
                p.
                  3.1. Настоящая Политика устанавливает обязательства Администрации сайта по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации сайта при регистрации на Сайте или при оформлении запроса, заявки на обратный звонок, любыми иными формами обмена информацией.
                p.
                  3.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики, предоставляются Пользователем путём заполнения регистрационной формы на Сайте и/или любой иной формы обмена информацией.
                p.
                  3.3. Компания защищает Данные, которые автоматически передаются в процессе просмотра рекламных блоков и при посещении страниц, на которых установлен статистический скрипт системы.
                p.
                  3.4. Любая иная персональная информация неоговоренная выше (история покупок, используемые браузеры и операционные системы и т.д.) подлежит надежному хранению и нераспространению, за исключением случаев, предусмотренных в п.п. 5.2. и 5.3. настоящей Политики.
            .accord-wrap
              .offer-text--title.accord-title 4. ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ
              .accord-block
                p.
                  4.1. Персональные данные Пользователя Администрация сайта может использовать в целях: 
                p.
                  4.1.1. Идентификации Пользователя, зарегистрированного на Сайте, для оформления заявки на обратный звонок и/или связь по электронной почте, любым иным способом связи. 
                p.
                  4.1.2. Предоставления Пользователю доступа к персонализированным ресурсам Сайта. 
                p.
                  4.1.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования Сайта, оказания услуг, обработка запросов и заявок от Пользователя.
                p.
                  4.1.4. Определения места нахождения Пользователя для обеспечения безопасности, предотвращения мошенничества.
            .accord-wrap
              .offer-text--title.accord-title 5. СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ
              .accord-block
                p.
                  5.1. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств. 
                p.
                  5.2. Пользователь соглашается с тем, что Администрация сайта вправе передавать персональные данные третьим лицам, в частности, операторам электросвязи, исключительно в целях выполнения любого заказа и/или поручения Пользователя, оформленного на Сайте. 
                p.
                  5.3. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти Российской Федерации только по основаниям и в порядке, установленным законодательством Российской Федерации.
                p.
                  5.4. При утрате или разглашении персональных данных Администрация сайта информирует Пользователя об утрате или разглашении персональных данных.
                p.
                  5.5. Администрация сайта принимает необходимые организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.
            .accord-wrap
              .offer-text--title.accord-title 6. ОБЯЗАТЕЛЬСТВА СТОРОН
              .accord-block
                p.
                  6.1. Пользователь обязан:
                p.
                  6.1.1. Предоставить информацию о персональных данных, необходимую для пользования Сайтом.
                p.
                  6.1.2. Обновить, дополнить предоставленную информацию о персональных данных в случае изменения данной информации.
                p.
                  6.2. Администрация сайта обязана:
                p.
                  6.2.1. Использовать полученную информацию исключительно для целей, указанных в п. 4 настоящей Политики.
                p.
                  6.2.2. Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование, либо разглашение иными возможными способами переданных персональных данных Пользователя, за исключением п.п. 5.2. и 5.3. настоящей Политики.
                p.
                  6.2.3. Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя согласно порядку, обычно используемого для защиты такого рода информации в существующем деловом обороте.
                p.
                  6.2.4. Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя, или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.
            .accord-wrap
              .offer-text--title.accord-title 7. ОТВЕТСТВЕННОСТЬ СТОРОН
              .accord-block
                p.
                  7.1. Администрация сайта, не исполнившая свои обязательства, несёт ответственность за убытки, понесённые Пользователем в связи с неправомерным использованием персональных данных, в соответствии с законодательством Российской Федерации, за исключением случаев, предусмотренных п.п. 5.2., 5.3. и 7.2. настоящей Политики. 
                p.
                  7.2. В случае утраты или разглашения Конфиденциальной информации Администрация сайта не несёт ответственность, если данная конфиденциальная информация: 
                  • Стала публичным достоянием до её утраты или разглашения
                  • Была получена от третьей стороны до момента её получения Администрацией сайта
                  • Была разглашена с согласия Пользователя
            .accord-wrap
              .offer-text--title.accord-title 8. РАЗРЕШЕНИЕ СПОРОВ
              .accord-block
                p.
                  8.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем сайта и Администрацией сайта, обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).
                p.
                  8.2. Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.
                p.
                  8.3. При не достижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством Российской Федерации.
                p.
                  8.4. К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией сайта применяется действующее законодательство Российской Федерации.
            .accord-wrap
              .offer-text--title.accord-title 9. ДОПОЛНИТЕЛЬНЫЕ ПОЛОЖЕНИЯ
              .accord-block
                p.
                  9.1. Администрация сайта вправе вносить изменения в настоящую Политику без согласия Пользователя.
                p.
                  9.2. Новая Политика вступает в силу с момента ее размещения на Сайте, если иное не предусмотрено новой редакцией Политики конфиденциальности.
            .accord-wrap
              .offer-text--title.accord-title II. Согласие на обработку персональных данных
              .accord-block
                p.
                  Пользователь выражает свое добровольное согласие Компании (далее – Согласие), на обработку, включая сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, обезличивание, блокирование, уничтожение, моих персональных данных, к которым могут относиться фамилия, имя, отчество, год, месяц, дата и место рождения, гражданство (подданство), место жительства (регистрации), место пребывания, почтовый адрес, сведения о документе, удостоверяющем личность, номера контактных телефонов, адреса электронной почты, сведения о местах работы и о занимаемых должностях, иные сведения, относящиеся ко мне как к физическому лицу, в целях рассмотрения и принятия решения Компанией по моему заявлению, поданному на сайте Компании и/или на горячую линию. Пользователь настоящим выражает свое добровольное согласие на передачу всех указанных выше данных всем дочерним и зависимым обществам Компании исключительно в целях, указанных в настоящем Согласии. Настоящее Согласие вступает в силу со дня предоставления Пользователем своих персональных данных Компании и действует в течение всего срока до момента его отзыва Пользователя. Настоящее Согласие может быть отозвано Пользователем в любое время на основании его письменного заявления.
              
              
        
    
    
    
        
