footer.footer-wrap
  .footer-wrap__top
    .container-fluid
      .row
        .col-lg-3.col-xl-4
          .footer-left
            .footer-logo
            .footer-block
              a(href="javascript:void(0);").footer-item
                img(src='../img/inst-icon.svg' alt='', title='').footer-icon
                .footer-text kanzlerbeer
              a(href="javascript:void(0);").footer-item
                img(src='../img/vk-icon.svg' alt='', title='').footer-icon
                .footer-text kanzlerbeer
        .col-lg-4
          .footer-block__wrap
            .footer-title Информация
            .footer-block
              a(href="javascript:void(0);").footer-item
                img(src='../img/doc-footer-icon.svg' alt='', title='').footer-icon
                .footer-text Публичная оферта
              a(href="javascript:void(0);").footer-item
                img(src='../img/info-icon.svg' alt='', title='').footer-icon
                .footer-text Политика обработки персональных данных
              .footer-item
                img(src='../img/age-icon.svg' alt='', title='').footer-icon
                .footer-text.text-uppercase чрезмерное употребление алкоголя
                  .span-br вредит вашему здоровью
        .col-lg-5.col-xl-4
          .footer-title Контакты
          .footer-block
            a(href="tel:8 (800) 51-138-51").footer-item
              img(src='../img/phone-icon.svg' alt='', title='').footer-icon
              .footer-text__block
                .footer-text Горячая линия (пн-пт. с 09:00 до 18:00): 
                .footer-text 8 (800) 51-138-51
            a(href="mailto:info@npk-kanzler.ru").footer-item
              img(src='../img/phone-icon.svg' alt='', title='').footer-icon
              .footer-text__block
                .footer-text E-mail: 
                .footer-text info@npk-kanzler.ru
            //a(href="tg://resolve?domain=@kotizmeshka").footer-item
            a(href="tel:+7 (920) 424-71-17").footer-item
              img(src='../img/message-icon.svg' alt='', title='').footer-icon
              .footer-text__block
                .footer-text WhatsApp / Viber / Telegram:
                .footer-text +7 (920) 424-71-17


  .footer-wrap__bottom
    .container-fluid
      .footer-bottom
        a(href="javascript:void(0);").develop-link Сделано в 
          span Yakovlev.Studio
  








