.header-wrap
  .container-fluid
    header.header
      a(href="index.html").header-logo
      ul.menu
        li.menu__item.active
          a(href="index.html#download").menu__item-link.animated-link Скачать
        li.menu__item
          a(href="index.html#shops").menu__item-link.animated-link Магазины
        li.menu__item
          a(href="index.html#catalog").menu__item-link.animated-link Каталог
        li.menu__item
          a(href="index.html#card").menu__item-link.animated-link Клубная карта
        li.menu__item
          a(href="index.html#pay").menu__item-link.animated-link Онлайн-оплата
        li.menu__item
          a(href="index.html#delivery").menu__item-link.animated-link Доставка
        li.menu__item
          a(href="index.html#preorders").menu__item-link.animated-link Предзаказ
        li.menu__item
          a(href="index.html#bonus").menu__item-link.animated-link Бонусы


    
        
                                                

