.header-wrap
  .container-fluid
    header.header
      a(href="index.html").header-logo
      ul.menu
        li.menu__item.active
          a(href="#download").menu__item-link.animated-link Скачать
        li.menu__item
          a(href="#shops").menu__item-link.animated-link Магазины
        li.menu__item
          a(href="#catalog").menu__item-link.animated-link Каталог
        li.menu__item
          a(href="#card").menu__item-link.animated-link Клубная карта
        li.menu__item
          a(href="#pay").menu__item-link.animated-link Онлайн-оплата
        li.menu__item
          a(href="#delivery").menu__item-link.animated-link Доставка
        li.menu__item
          a(href="#preorders").menu__item-link.animated-link Предзаказ
        li.menu__item
          a(href="#bonus").menu__item-link.animated-link Бонусы


    
        
                                                

