.menu-mob-wrap
  .menu-mob
    .menu-mob__header
      .header-logo
    .menu-mob__close
    ul.menu-mob_list
      li.menu-mob_item
        a(href="#download").menu-mob_link.animated-link Скачать
      li.menu-mob_item
        a(href="#shops").menu-mob_link.animated-link Магазины
      li.menu-mob_item
        a(href="#catalog").menu-mob_link.animated-link Каталог
      li.menu-mob_item
        a(href="#delivery").menu-mob_link.animated-link Клубная карта
      li.menu-mob_item
        a(href="#pay").menu-mob_link.animated-link Онлайн-оплата 
      li.menu-mob_item
        a(href="#delivery").menu-mob_link.animated-link Доставка
      li.menu-mob_item
        a(href="#preorders").menu-mob_link.animated-link Предзаказ
      li.menu-mob_item
        a(href="#bonus").menu-mob_link.animated-link Бонусы
    .menu-mob-bottom
      .footer-bottom
        a(href="javascript:void(0);").develop-link Сделано в 
          span Yakovlev.Studio
      



