

mixin download-block
  .download-block
    .download-block__item
      a(href="javascript:void(0);").download-link
        img(src='../img/apple.svg' alt='', title='').download-img
      img(src='../img/apple-qr.svg' alt='', title='').qr-img
    .download-block__item
      a(href="javascript:void(0);").download-link
        img(src='../img/android.svg' alt='', title='').download-img
      img(src='../img/android-qr.svg' alt='', title='').qr-img
